* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #ADD8E6;
    padding: 10px 10px;
 }

.container-header {
    width: 70%;
    margin: 0 auto;
    background-color: #DAA520;
}

.row {
    display: flex;
}

 .col-25 {
    width: 25%;
}

.start{
    text-align: start;
}

.end{
    text-align: end;
}

.col-50 {
    width: 50%;
    text-align: center;
}

.col-25, .col-50{
    border: dashed black;
    padding: 5px;
}

/* SECTION 1 */
.section-1{
    width: 100%;
    background-color: #00008B;
    padding: 75px;

}

.container-pink {
    background-color: #EE82EE;
    margin: 0 auto;
    border: dashed black;

    width: 60%;
}

.col-pink {
    height: 300px;
}

/* SECTION 2 */
.section-2 {
    width: 100%;
    background-color: white;
    padding: 75px;
}

.container-60-40 {
    margin: 0 auto;
    width: 80%;
}

.col-40{
    width: 40%;
    height: 350px;
    background-color: #FFC0CB;
}

.col-60{
    width: 60%;
    height: 350px;
    background-color: #1E90FF;
}

.col-40, .col-60 {
    border: dashed black;
    padding: 5px;

}

/* >SECTION 3 */
.section-3 {
    width: 100%;
    background-color: #dadada;
    padding: 75px;
}

/* SECTION 4 */

/* SECTION 5 */
.section-5{
    width: 100%;
    background-color: #dadada;
    padding: 75px;

}

.container-green {
    background-color: #228B22;
    margin: 0 auto;
    border: dashed black;

    width: 80%;
}

.col-green {
    height: 500px;
}

/* SECTION 6 */

.section-6 {
    width: 100%;
    background-color: #23272A;
    padding: 75px;
}

.container-5x {
    margin: 0 auto;
    width: 80%;
}

.col-2of6{
    width: 33%;
    height: 350px;
    background-color: #F08080;
}

.col-1of6{
    width: calc(100% / 6);
    height: 350px;
    background-color: #20B2AA;
}

.col-1of6 {
    border: dashed white;
    padding: 5px;
}

.col-2of6 {
    border: dashed black;
    padding: 5px;
}

/* FOOTER */

footer {
    background-color: #23272A;
 }

.container-footer {
    width: 70%;
    margin: 0 auto;
    background-color: #7FFFD4;
    padding: 10px 0;
}

.row-footer{
    justify-content: space-between;
}

button {
    border: dashed;
    padding: 2px;
}